.footer {
  background-color: #f7f7f7;
}

.footer-row {
  display: flex;
  padding: 100px 0;
  align-items: center;

  @media (max-width: 1100px) {
    padding: 50px 0;
  }

  @media (max-width: 600px) {
    padding: 30px 0;
    flex-direction: column;
    text-align: center;
  }
}

.footer-column {
  flex: 0 1 33.333%;
}

.fotter-address {
  color: #848789;
  font-size: 14px;
  line-height: 18px;

  p {
    &:first-child {
      font-weight: 700;
    }
  }

  @media (max-width: 1100px) {
    padding: 0;
  }
}

.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 600px) {
    margin: 15px 0;
  }
}

.footer-social-link {
  margin: 0px 7.5px;
}

.footer-dev {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.footer-dev-text {
  color: #848789;
  font-size: 14px;
  font-style: italic;
  padding-right: 9px;
}
