.swiper-pagination-bullet-active {
  background-color: #707070;
}

.slider {
  background-color: #f7f7f7;
  padding: 120px 0 60px 0;

  @media (max-width: 1500px) {
    padding: 40px 35px 30px 35px;
  }
}

.slider-item {
  text-align: center;
}

.slider-icon {
  margin-bottom: 35px;
}

.slider-title {
  margin-bottom: 20px;
  color: #353738;
  font-size: 18px;
  font-weight: 700;

  span {
    font-weight: 300;
    color: #848789;
  }
}

.slider-text {
  text-align: center;
  color: #848789;
  font-size: 24px;
  font-style: italic;
  line-height: 34px;
  margin-bottom: 25px;

  @media (max-width: 600px) {
    font-size: 18px;
}
}

